.idea/
.venv/

__pycache__/
UI/__pycache__/
assertions/__pycache__/
utils/__pycache__/
utils/test_data/__pycache__/

.env

outputs/assertion_failures/*
outputs/assertion_output/*
outputs/clean_data_csv/*
outputs/parquet/*

!outputs/assertion_failures/.gitkeep
!outputs/assertion_output/.gitkeep
!outputs/clean_data_csv/.gitkeep
!outputs/parquet/.gitkeep

snowflake_files/table_csvs/*
!snowflake_files/table_csvs/.gitkeep

utils/test_data/txt/*_xl.txt
utils/test_data/txt/*_xs.txt

utils/test_data/csv/*
!utils/test_data/csv/.gitkeep

snowflake_files/source_data*.xlsx
