.idea/
.venv/

__pycache__/
UI/__pycache__/
assertions/__pycache__/
utils/__pycache__/
utils/test_data/__pycache__/

.env

outputs/assertion_failures/*.xlsx
outputs/assertion_output/*.xlsx
outputs/clean_data_csv/*.csv
outputs/parquet/*/*.parquet



snowflake_files/table_csvs/*.csv

utils/test_data/txt/*_xl.txt
utils/test_data/txt/*_xs.txt

utils/test_data/csv/*.csv

snowflake_files/source_data*.xlsx
